body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#numcontainer{
    display: flex;
    justify-content: center;
    font-size: 82px;
    font-weight: bold;
}
#Mothercontainer{
    display: block;
}
#Buttons{
    display: flex;
}
.button{
    height: 40px;
    width: 80px;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 500ms;
}
.red{
    background-color: red;
    color: white;
}
.red:hover{
    background-color: darkred;
}
.blue{
    background-color: blue;
    color: white;
}
.blue:hover{
    background-color: darkblue;
}